.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}

form{
    width: 700px;
}

h2{
    background: -webkit-linear-gradient(#33ccff 0%, #cc99ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}